include:
  - billing-service/docker-compose.yml
  - weight-service/docker-compose.yml

services:
  db:
    container_name: billing-db-production
    environment:
      - MYSQL_ROOT_PASSWORD=${BILLING_DB_PASSWORD}
      - MYSQL_DATABASE=billing_prod
      - MYSQL_TCP_PORT=3306
    ports:
      - "3306:3306"
    networks:
      - prod-network
    restart: unless-stopped
    volumes:
      - billing-data:/var/lib/mysql
      - ./billing-service/data/init:/docker-entrypoint-initdb.d

  billing-service:
    container_name: billing-service-prod
    ports:
      - "8081:5001"
    environment:
      - ENV=production
      - DB_USER=root
      - DB_PASSWORD=${BILLING_DB_PASSWORD}
      - DB_NAME=billing_prod
      - DB_PORT=3306
      - WEIGHTS_PORT=5000
      - WEIGHTS_HOST=weight-service
      - APP_PORT=5001
    networks:
      - prod-network
    restart: unless-stopped
    volumes:
      - ./billing-service/data/in:/app/in
    
  weight-db:
    container_name: weight_db_prod
    environment:
      - MYSQL_ROOT_PASSWORD=${WEIGHT_DB_PASSWORD}
      - MYSQL_DATABASE=weight_prod
      - MYSQL_TCP_PORT=3306
    ports:
      - "3309:3306"
    networks:
      - prod-network
    restart: unless-stopped
    volumes:
      - weight-data:/var/lib/mysql
      - ./weight-service/DB/schema.sql:/docker-entrypoint-initdb.d/init.sql
  
  weight-service:
    container_name: weight-service-prod
    ports:
      - "8082:5000"
    environment:
      - MYSQL_HOST=weight-db
      - MYSQL_USER=root
      - MYSQL_PASSWORD=${WEIGHT_DB_PASSWORD}
      - MYSQL_DATABASE=weight_prod
      - MYSQL_PORT=3306
    networks:
      - prod-network
    restart: unless-stopped
    volumes:
      - ./weight-service/in:/app/in
  
  monitor:
    build: ./monitor
    container_name: monitor-service
    ports:
      - "8085:8085"
    restart: unless-stopped
    depends_on:
      - billing-service
      - weight-service
    networks:
      - prod-network

networks:
  prod-network:
    driver: bridge

volumes:
  billing-data:
    driver: local
  weight-data:
    driver: local
